@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Сегодня @ViewData["CurrentDay"] число или @ViewData["NumberDay"] день</p>
    <br>
    <p>Случайная буква: @ViewData["RandomLetter"]</p>
</div>
