@page
@model WebHomeDay.Pages.Restaurants.restaurantModel
@{
    ViewData["Title"] = "About the restaurant";
}

<div class="text-centr">
    <h1>Welcome to the website of our restaurant</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        In mollis erat mattis neque facilisis, sit rew amet ultricies erat rutrum.
        Cras facilisis, nulla vel viverra auctor, leo magna sodales felis,
        quis trrore malesuada nibh odio ut velit. Proin pharetra luctus diam,
        a scelerisque eros convallis accumsanel. Maecenas vehicula egestas venenatis.
        Duis massa elit, auctor non pellentesque vel, aliquet sit der amet erat.
        Nullam eget dignissim nisi, aliquam feugiat nibh. Ut nisi nibh,
        sagittis ut semper fertilom elementum, pellentesque a odio.
        Phasellus vitae libero vel justo pretium dignissim.
        Integer sempin est nec congue. In laoreet lacus eros, vel pulvinar urna ultricies ut.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        In mollis erat mattis neque facilisis, sit rew amet ultricies erat rutrum.
        Cras facilisis, nulla vel viverra auctor, leo magna sodales felis,
        quis trrore malesuada nibh odio ut velit. Proin pharetra luctus diam,
        a scelerisque eros convallis accumsanel. Maecenas vehicula egestas venenatis.
        Duis massa elit, auctor non pellentesque vel, aliquet sit der amet erat.
        Nullam eget dignissim nisi, aliquam feugiat nibh. Ut nisi nibh,
        sagittis ut semper fertilom elementum, pellentesque a odio.
        Phasellus vitae libero vel justo pretium dignissim.
        Integer sempin est nec congue. In laoreet lacus eros, vel pulvinar urna ultricies ut.
    </p>
</div>
